[submodule "deps/cuttle-parser"]
	path = deps/cuttle-parser
	url = git@github.com:cuttle-system/cuttle-parser.git
[submodule "tests/cuttle-test"]
	path = tests/cuttle-test
	url = git@github.com:cuttle-system/cuttle-test.git
